<div class="container" *ngIf="getObjectService().getSelectedObject() != -1">
  <p>
    <b>{{ getObjectService().getSelectedObjectAsObject().name }}</b>
  </p>
  <p>
    {{ "X: " + trimNumber(getObjectService().getSelectedObjectAsObject().x) }}
  </p>
  <p>
    {{ "Y: " + trimNumber(getObjectService().getSelectedObjectAsObject().y) }}
  </p>
  <p>
    {{
      "Velocity: (" +
        trimNumber(getObjectService().getSelectedObjectAsObject().velocity.x) +
        ";" +
        trimNumber(getObjectService().getSelectedObjectAsObject().velocity.y) +
        ")"
    }}
  </p>
  <p>
    {{ "Weight: " + getObjectService().getSelectedObjectAsObject().weight }}
  </p>
  <p>
    {{ "Radius: " + getObjectService().getSelectedObjectAsObject().radius }}
  </p>
</div>
