.container
  position: fixed
  display: flex
  flex-direction: column
  bottom: 10px
  right: 10px
  padding: 20px
  border-radius: 15px
  color: white
  z-index: 1000
  font-size: 20px
  border: 1px solid white
  cursor: default
  transition: 0.3s
  box-shadow: 0 0 10px 0 #ffffff
  min-width: 300px

.row
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.line
  background-color: white
  height: 1px
  width: 100%
  margin: 10px 0
  opacity: 0.5
