<div
  class="container glass"
  *ngIf="getObjectService().getSelectedObject() != -1"
>
  <div class="row">
    <b>{{ getObjectService().getSelectedObjectAsObject().name }}</b>
    <div class="frow">
      <app-my-icon name="bi bi-pencil"></app-my-icon>
      <app-my-icon
        name="bi bi-trash"
        (click)="getObjectService().deleteSelectedObject()"
      ></app-my-icon>
    </div>
  </div>
  <div class="line"></div>
  <div class="row">
    <i>X</i>
    <b>{{ trimNumber(getObjectService().getSelectedObjectAsObject().x) }}</b>
  </div>
  <div class="line"></div>
  <div class="row">
    <i>Y</i>
    <b>{{ trimNumber(getObjectService().getSelectedObjectAsObject().y) }}</b>
  </div>
  <div class="line"></div>
  <div class="row">
    <i>Velocity</i>
    <b>
      {{
        "(" +
          trimNumber(
            getObjectService().getSelectedObjectAsObject().velocity.x
          ) +
          " , " +
          trimNumber(
            getObjectService().getSelectedObjectAsObject().velocity.y
          ) +
          ")"
      }}
    </b>
  </div>
  <div class="line"></div>
  <div class="row">
    <i>Weight</i>
    <b>{{ getObjectService().getSelectedObjectAsObject().weight }}</b>
  </div>
  <div class="line"></div>
  <div class="row">
    <i>Radius</i>
    <b>{{ getObjectService().getSelectedObjectAsObject().radius }}</b>
  </div>
</div>
