<div
  class="object"
  [style.width.px]="object.radius * 2"
  [style.height.px]="object.radius * 2"
  [style.left.px]="object.getScreenCoordinates()[0]"
  [style.top.px]="object.getScreenCoordinates()[1]"
  [style.background-color]="object.color"
  (click)="selectObject()"
>
  <p
    class="name"
    [style.top.px]="object.radius * 2 - 20"
    *ngIf="getObjectService().getSelectedObject() != object.id"
  >
    {{ object.name }}
  </p>
  <p
    class="nameSelected"
    [style.top.px]="object.radius * 2 - 20"
    *ngIf="getObjectService().getSelectedObject() == object.id"
  >
    {{ object.name }}
  </p>
  <app-arrow
    *ngIf="object.velocity.length() != 0"
    [startX]="object.x"
    [startY]="object.y"
    [endX]="object.x + object.velocity.x"
    [endY]="object.y + object.velocity.y"
  ></app-arrow>
  <!-- <app-arrow
    *ngIf="object.velocity.length() != 0"
    [startX]="object.getScreenCoordinates()[0] + object.radius"
    [startY]="object.getScreenCoordinates()[1] + object.radius"
    [endX]="
      object.getScreenCoordinates()[0] + object.radius + object.velocity.x
    "
    [endY]="
      object.getScreenCoordinates()[1] + object.radius + object.velocity.y
    "
  ></app-arrow> -->
</div>
