<div
  class="object"
  [style.width.px]="scale(object.radius * 2)"
  [style.height.px]="scale(object.radius * 2)"
  [style.left.px]="object.getScreenCoordinates()[0]"
  [style.top.px]="object.getScreenCoordinates()[1]"
  [style.background-color]="object.color"
  (click)="selectObject()"
>
  <p
    [class]="
      'name' +
      (getObjectService().getSelectedObject() == object.id ? 'Selected' : '')
    "
    [style.top.px]="scale(object.radius * 2) - 20"
    *ngIf="areObjectNamesVisible()"
  >
    {{ object.name }}
  </p>
  <app-arrow
    *ngIf="object.velocity.length() != 0"
    [startX]="object.x"
    [startY]="object.y"
    [endX]="object.x + object.velocity.x"
    [endY]="object.y + object.velocity.y"
  ></app-arrow>
</div>
