<div class="bg glass" cdkDrag>
  <div class="container" *ngIf="isVisible">
    <app-my-icon
      name="bi bi-zoom-out"
      description="This is a test"
      (click)="zoomOut()"
    ></app-my-icon>
    <app-my-icon
      name="bi bi-zoom-in"
      description="This is a test"
      (click)="zoomIn()"
    ></app-my-icon>
  </div>
  <div class="container" *ngIf="isVisible">
    <app-my-icon name="bi bi-arrow-left-circle" (click)="prevStep()">
    </app-my-icon>
    <app-my-icon name="bi bi-arrow-right-circle" (click)="nextStep()">
    </app-my-icon>
  </div>
  <div class="container" *ngIf="isVisible">
    <app-my-icon
      [name]="'bi bi-' + (isPlaying() ? 'pause' : 'play-fill')"
      (click)="togglePlayPause()"
    >
    </app-my-icon>
    <app-my-icon
      [name]="'x' + playSpeed"
      (click)="toggleSpeed()"
      [textIcon]="true"
      [size]="20"
    >
    </app-my-icon>
  </div>
  <div class="container">
    <app-my-icon
      [name]="'bi bi-eye' + (isVisible ? '-slash' : '')"
      (click)="isVisible = !isVisible"
    >
    </app-my-icon>
    <app-my-icon
      name="bi bi-arrow-counterclockwise"
      (click)="reset()"
      *ngIf="isVisible"
    >
    </app-my-icon>
  </div>
</div>
