<img
  src="assets/logo_small.png"
  alt="home"
  class="smallLogo"
  (click)="goToHome()"
/>

<div class="settings">
  <h1>OrbitLab Settings</h1>
  <div class="row">
    <p class="label" style="font-size: 14px; width: 600px">
      <i>
        <b>Disclaimer</b>: This is <b>not</b> a scientific software. It is a
        visualization tool for educational purposes only and is not
        scientifically accurate.
      </i>
    </p>
  </div>
  <h2>View</h2>
  <div class="row">
    <p class="label">Velocity Arrow</p>
    <button
      class="actionButton"
      (click)="getSettings().toggleVelocityArrowVisibility()"
    >
      {{ getSettings().isVelocityArrowVisible() ? "ON" : "OFF" }}
    </button>
  </div>
  <div class="row">
    <p class="label">Object Name</p>
    <button
      class="actionButton"
      (click)="getSettings().toggleObjectNamesVisibility()"
    >
      {{ getSettings().areObjectNamesVisible() ? "ON" : "OFF" }}
    </button>
  </div>
  <div class="row">
    <p class="label">Grid Size</p>
    <button class="actionButton" (click)="getSettings().toggleGridSize()">
      {{
        getSettings().getGridSize() == -1 ? "OFF" : getSettings().getGridSize()
      }}
    </button>
  </div>
  <div class="row">
    <p class="label">Logo</p>
    <button class="actionButton" (click)="getSettings().toggleLogoVisibility()">
      {{ getSettings().isLogoVisible() ? "ON" : "OFF" }}
    </button>
  </div>
  <div class="row">
    <p class="label">Settings Icon</p>
    <button
      class="actionButton"
      (click)="getSettings().toggleSettingsVisibility()"
    >
      {{ getSettings().isSettingsVisible() ? "ON" : "OFF" }}
    </button>
  </div>
  <h2>Behavior</h2>
  <div class="row">
    <p class="label">Collision Mode</p>
    <button class="actionButton" (click)="getSettings().toggleCollisionMode()">
      {{ getSettings().getCollisionMode() }}
    </button>
  </div>
  <div class="row">
    <p class="label">Execution precision</p>
    <button class="actionButton">TODO</button>
  </div>
  <h2>Examples</h2>
  <div class="row">
    <p class="label">Earth & Moon</p>
    <button class="actionButton" (click)="importExample('earth-moon')">
      Load
    </button>
  </div>
  <div class="row">
    <p class="label">Pluto & Charon</p>
    <button class="actionButton" (click)="importExample('pluto-charon')">
      Load
    </button>
  </div>
  <div class="row">
    <p class="label">Elliptical Orbit</p>
    <button class="actionButton" (click)="importExample('elliptical-orbit')">
      Load
    </button>
  </div>
  <div class="row">
    <p class="label">Three Body</p>
    <button class="actionButton" (click)="importExample('three-body')">
      Load
    </button>
  </div>
  <h2>Import & Export</h2>
  <div class="row">
    <p class="label">Import from JSON</p>
    <button class="actionButton" (click)="importObjects()">Import</button>
  </div>
  <div class="row">
    <p class="label">Export as JSON</p>
    <button class="actionButton" (click)="exportObjects()">Export</button>
  </div>
  <h2>Cookies</h2>
  <div class="row" *ngIf="getLocalStorageService().areAllCookiesAccepted">
    <p class="label">Reject not essential cookies</p>
    <button
      class="actionButton"
      (click)="getLocalStorageService().acceptEssentialCookies()"
    >
      Reject
    </button>
  </div>
  <div class="row" *ngIf="!getLocalStorageService().areAllCookiesAccepted">
    <p class="label">Accept all cookies</p>
    <button
      class="actionButton"
      (click)="getLocalStorageService().acceptAllCookies()"
    >
      Accept
    </button>
  </div>
  <div class="row">
    <p class="label">Clear all</p>
    <button class="actionButton" (click)="getLocalStorageService().clear()">
      Clear
    </button>
  </div>
  <h2>Contact</h2>
  <div class="row">
    <p class="label">Report an issue</p>
    <a
      href="mailto:info@philipp-bonin.com?subject=OrbitLab%20Issue
    "
      class="actionLink"
      >Report</a
    >
  </div>
  <div class="row">
    <p class="label">
      <a href="https://github.com/cophilot" target="_blank"> by Philipp B. </a>
    </p>
  </div>

  <div class="row">
    <p class="label"></p>
    <button
      class="actionButton"
      (click)="goToHome()"
      style="margin-top: 20px; margin-bottom: 20px"
    >
      Back
    </button>
  </div>
</div>
