<img
  src="assets/logo_small.png"
  alt="home"
  class="smallLogo backgroundBox"
  (click)="getObjectService().setSelectedObject(null)"
/>
<i
  class="bi bi-gear settings-button backgroundBox"
  (click)="goToSettings()"
></i>
<app-coordinate-system></app-coordinate-system>
<app-object
  *ngFor="let object of getObjectService().getObjects()"
  [object]="object"
></app-object>
<app-add-object-form
  *ngIf="showAddObjectForm"
  (closeForm)="closeAddObjectForm()"
></app-add-object-form>
<app-my-icon
  class="glass"
  name="+"
  [textIcon]="true"
  [border]="true"
  [size]="28"
  *ngIf="!showAddObjectForm"
  (click)="showAddObjectForm = true"
  [style.right.px]="10"
  [style.bottom.px]="10"
  [style.position]="'fixed'"
></app-my-icon>
<app-play-bar></app-play-bar>
<app-object-meta-data></app-object-meta-data>
